h1, h2, h3 {
    display: inline
}

.avatars {
    width: 150px;
    height: 150px;
   background-color: aqua;
   
}

.yourCharacter {
}

.characterData {
    background: white;
}

.enemies {
   background-color: red;
    
}

.enemy {
    background-color: red;
    display: inline;
    
}

.defender {
    background-color: grey;
}

.attackButton {
    display: inline;
}

.defendingOne {
}

.defenseWords {
    display: inline;
}